body{
	margin: 0;
	padding: 0;
	/*box-shadow: 0px 2px 8px 1px rgba(180,180,180,0.9);*/
}

.navbar{
	font-family: 'Parisienne', cursive;
	padding: 0px 0 0px 0;	
	width: 100%;
	height: 50px;
	display: flex;
	background-color: rgb(70,70,70);
	/*background-color: rgb(255,135,141);*/
	/*background-color: rgb(255,182,193);*/
	/*box-shadow: 0px 2px 8px 1px rgba(180,180,180,0.9);*/
	/*border-bottom: 4px solid rgb(215,142,153);*/
	border-bottom: 4px solid rgb(249,166,2);
}

.navbarLeft{
	flex: 10;
	position: relative;
}

.logoCompleto{
	display: table;
	position: relative;
	left: 10px;
	top: 5px;

}

.dude{
	/*font-family: 'Modak', cursive;*/
	flex: 10;
	color: rgb(249,166,2);
	font-size: 30px;
	position: relative;
}

.dude img{
	margin-top: 11px;
	height: 50px!important;
	transform: rotate(-8deg);
	filter: brightness(100%);
	cursor: pointer;
}

.link{
	flex: 14;
	display: flex;
	/*font-family: 'Nunito', sans-serif;*/
	color: rgb(255,255,255);	
	font-size: 15px;
	font-weight: 600;
  	position: relative;
}

.link div{
	/*font-family: 'Parisienne', cursive;*/
	font-family: 'Playball', cursive;
	font-size: 27px;
	font-weight: 100px;
	/*color: rgb(255,135,141);*/
	/*color: rgb(50,50,50);*/
	/*color: rgb(236,90,100);*/
	color: rgb(249,166,2);
	flex: 3;
	height: 35px;
	margin-top: 10px;
	padding: 2px 0 0 0;
	box-sizing: border-box;
}

.link div:not(:last-child){
	border-right: 1px solid rgb(50,50,50);
}

.link div p{
	top: 0px;
	/*background-color: rgb(1,181,185);*/
	padding: 0px;
	width: 160px;
	text-align: center;
	/*border-bottom: 3px solid rgb(1,151,151);
	border-left: 1px solid rgb(0,171,171);
	border-top: 1px solid rgb(0,171,171);
	border-right: 1px solid rgb(0,171,171);*/
	cursor: pointer;
	margin: -3px auto 0 auto;
	/*transition: top border-bottom 0.2s;*/
	transition: top border-bottom 1s;
	/*color: rgb(1,181,185);*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.link div p:hover{
	/*background-color: rgb(1,157,201);*/
	/*border-bottom: 0px solid rgb(1,127,171);*/
	border-bottom: 2px solid rgb(70,70,70);
	
}

.link div p:active{
	position: relative;
	top: 2px;
	border-bottom-width: 1px;
}

#premium{

}

.premium img{
	height: 20px;
}

#star{
	height: 25px;
	position: absolute;
	right: 20px;
	top: 10px;
}

#show{
	position: absolute;
	right: 8px;
	top: 3px;
	z-index: 1000;
	display: none;
}

.menu-mobile{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 55px;
	right: 0;
	background: transparent;
	color: rgb(249,166,12);
	font-size: 26px;
	/*background-color: rgba(1,141,141,0.9);*/
	/*background-color: rgb(215,142,153);*/
	/*background-color: rgba(255,182,193,0.8);*/
	background-color: rgba(50,50,50,0.8);
	display: none;
	/*font-family: 'Nunito', sans-serif;*/
	z-index: 100;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menu-mobile div{
	border-top: 0px solid white;
	padding: 20px;
	cursor: pointer;
}

.menu-mobile a{
	color: rgb(249,166,12);	
	text-decoration: none;
}

/*MEDIA QUERIES /////////////////////////////////////////////////////////////// */

@media screen and (max-width:1024px){

	.navbarLeft{
		flex: 8;
	}

	#delfinAzul{
		height: 30px;
	}

	.dude{
		font-size: 30px;
	}
}

@media screen and (max-width:768px){
	.link{
		display: none;
	}

	#show{
		display: block!important;
	}

	.logoCompleto{
		left: 10px;
		/*transform: translate(-10%,-65%);*/
	}

}

@media screen and (max-width:320px){
	#delfinAzul{
		height: 23px;
	}

	.dude{
		font-size: 23px;
	}
}
