#after-msg{
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%,0);
	color: white;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
}

.correo{
	position: relative;
	width: 100%;
	margin: 0px auto 0 auto;
	background-color: rgb(233,233,233);
	padding-bottom: 80px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.correo::after{
	content: " ";
	height: 0;
	clear: both;
	display: block;
}

.invitando{
	/*background-color: rgb(159,205,77);*/
	/*background-color: rgb(136,0,21);*/
	/*background-color: rgba(40,80,120,0.7);*/
	color: white;
	text-align: center;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	padding: 8px 0;
	/*border-top: 2px solid rgba(255,255,255,0.5);*/
	border-bottom: 2px solid rgba(255,255,255,0.5);
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#idForm{
	padding-top: 10px;
}

.persona{
	background-color: rgb(233,233,233);
	float: left;
	width: 40%;
	text-align: center;
}

.input-contain{
	border: 1px solid black;
}

.correo .show_error{
	height: 20px;
	display: table;
	font-family: 'Raleway', sans-serif;
	margin: 40px auto 30px auto;
	font-size: 15px!important;
	border-radius: 5px;
	color: white;
	clear: both;
	padding: 5px 10px;
	text-align: center;
}

.persona input{
	box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-webkit-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-moz-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-ms-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-o-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	margin-top: 10px;
	border-radius: 10px;
	width: 80%;
	padding: 20px;
	font-size: 16px;
	border: 1px solid rgb(170,170,170);
	font-family: 'Roboto', sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {    /*ESCONDE FLECHITAS EN INPUT['NUMBER']*/
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.mensaje{
	background-color: rgb(233,233,233);
	float: left;
	width: 40%;
}

.mensaje textarea{
	font-family: 'Roboto', sans-serif;
	box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-webkit-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-moz-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-ms-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	-o-box-shadow:inset 0px 0px 6px rgb(200,200,200);
	border: 1px solid rgb(170,170,170);
	resize: none;
	font-size: 16px;
	display: table;
	margin: 0px auto 0 auto;
	width: 80%;
	height: 180px;
	padding: 20px;
	border-radius: 10px;
}

.enviar{
	float: left;
	width: 20%;
	padding-top: 50px;

}

.enviar input{
	font-size: 16px;
	color: white;
	border: 0px solid white;
	/*background-color: rgb(159,205,77)!important;*/
	/*background-color: rgb(136,0,21);*/
	background-color: rgba(40,80,120,0.7);	
	border-radius: 10px!important;
	height: 50px;
	width: 90px;
	display: table;
	margin: auto;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	box-shadow: 1px 0px 2px rgba(30,30,30,0.5);
	font-family: 'Raleway', sans-serif;	
}

.enviar input:active{
	box-shadow: 0px 0px 0px rgba(30,30,30,0.5);	
}

.enviar input:hover{
	filter: brightness(120%);
}

textarea:focus{
	outline: none !important;
}

input:focus{
	outline: none !important;
}

@media screen and (max-width: 768px){

	.correo{
		box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
	}

	.persona{
		float: none;
		width: 80%;
		display: table;
		margin: auto;
	}

	.mensaje{
		float: none;
		width: 80%;
		display: table;
		margin: auto;
	}

	.enviar{
		float: none;
		width: 80%;
		display: table;
		margin: auto;
		padding-top: 50px;
	}

	.mensaje textarea{
		font-family: 'Roboto', sans-serif;
		box-shadow:inset 0px 0px 6px rgb(200,200,200);
		-webkit-box-shadow:inset 0px 0px 6px rgb(200,200,200);
		-moz-box-shadow:inset 0px 0px 6px rgb(200,200,200);
		-ms-box-shadow:inset 0px 0px 6px rgb(200,200,200);
		-o-box-shadow:inset 0px 0px 6px rgb(200,200,200);
		border: 1px solid rgb(170,170,170);
		resize: none;
		font-size: 16px;
		display: table;
		margin: 10px auto 0 auto;
		width: 80%;
		height: 180px;
		padding: 20px;
		border-radius: 10px;
	}
}
